<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>renhx.alfred.expandurl</string>
	<key>connections</key>
	<dict>
		<key>D1761C3E-9AFE-42C5-8A59-70ABE7C0CE1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E117ACC1-CAD3-4BF6-BAD0-AFD46839AB90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E117ACC1-CAD3-4BF6-BAD0-AFD46839AB90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>955C4F58-42CA-4692-B13D-530FBBD7C94E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA3B62B0-7BDB-4494-B007-DC42F44977CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>@ren_hx</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Expand URL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>expand</string>
				<key>subtext</key>
				<string>Expand URL and copy to Clipboard.</string>
				<key>text</key>
				<string>Expand URL - "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1761C3E-9AFE-42C5-8A59-70ABE7C0CE1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>#ruby expand_url.rb "{query}" 2&gt;&amp;1 | tee debug.log
ruby expand_url.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E117ACC1-CAD3-4BF6-BAD0-AFD46839AB90</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Copied to Clipboard.</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>955C4F58-42CA-4692-B13D-530FBBD7C94E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DA3B62B0-7BDB-4494-B007-DC42F44977CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>955C4F58-42CA-4692-B13D-530FBBD7C94E</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>D1761C3E-9AFE-42C5-8A59-70ABE7C0CE1B</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>DA3B62B0-7BDB-4494-B007-DC42F44977CE</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>E117ACC1-CAD3-4BF6-BAD0-AFD46839AB90</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
